.zio {

    border:1px solid #d4d4c4; 
    padding-top:5px;
    padding-bottom:5px;
    display: inline-block;
    width: 80%;
    text-align: center;
    max-width: 800px;
    border-radius: 15px;
    text-decoration:none;
    color:black;
    margin: 10px 0;
    margin-left: 10%;
}

.zio:hover{
    box-shadow: 0px 0px 20px #888;
}
.zio > img { 
    float: left;
    width: 20%;
    margin-left:5px;
    padding-right: auto;
    padding-left:auto;
}


.zioinfo {
    float: left;
    overflow: hidden;
    width: 71%;
    text-align: center;
    margin-left: 2%;
    margin-right: 3%;
}

.ziotitle {
    font-weight: bold;
    font-size: 110%;
    text-align:justify;
    color:black;
    text-overflow:ellipsis;
    white-space:nowrap; 
    overflow:hidden; 
}

.ziometa {
    font-size: 100%;
    text-align:justify;

}
.ziometa > a {
    font-size: 100%;
    text-align:justify;
    color:black;
}
.ziobutton {
    display: inline-block;
    text-align: center;
    width:35%;
}

.ziobutton > a {
    text-decoration: none;
}

.apibutton {
    display: block;
    background-color: #009688;
    padding: 4%;
    border-radius: 25px;
    white-space: nowrap;
    overflow: hidden;
    font-size:90%;
    text-align:center;
    text-decoration: none;
    color:white;
    transition-duration:0.5s;
    margin-top:3px;
}

.apibutton > a {
    text-decoration: none;
}

.apibutton:hover {
    text-decoration: none;
    background-color:#08c !important;

}


.zioprice {
    font-size: 150%;
    line-height: 35px;
}

.ziobefore {
    font-size: 90%;
    text-decoration: line-through;
}

.ziobefore .highlight {
    font-size: 100%;
}

.zioamz {
    font-size:90%;   
    margin-top:5px;
    display: none;
}

.ziolistprice {
    text-decoration: line-through;
    font-size: 75%;  
    line-height: -10%;

}

.highlight {
    font-weight: bold;
    color: #009688;
    font-size: 110%;            
}

@media only screen and (max-width: 768px) {

    .zio > img { 
        float:none;
        width: 20%;
        text-align:center;
        margin:auto;
        padding:auto;
    }

    .zioinfo {
        float:none;
        padding:1%;
        text-align:center;
        font-size:100%;
        margin:auto;
        width: 80%;
    }
    .ziotitle {
        text-align:center;
    }

    .ziometa {
        text-align:center;
        font-size:100%;
        padding-bottom:1%;


    }

    .ziobutton {
        padding:1%;
        text-align:center;
        width:75%;
        margin:auto;
    }

    .ziolistprice {
        text-decoration: line-through;

    }

    .zioamz {
        font-size:90%;   
        padding:auto;
        margin:auto;
        float:none;

    }
    .zioamz > img {
        width:60%;
        padding:auto;
        margin:auto;
    }
    .zioprice {
        font-size: 100%;
        padding-bottom:5%;
    }

    .apibutton {
        float:none;
        font-size:110%;
        width: 75%;
        margin: auto;
        border-radius: 40px;
        padding: 3%;

    }

    .highlight {
        font-weight: bold;
        color: #009688;
        font-size: 120%;

    }






